$icon-font-path: '../fonts/';
@import "variables";


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "flexbox";
@import "buttons";



// Mixins
@mixin theme($start, $end, $color) {
    background-image: -webkit-linear-gradient(top left, $start 0%, $end 100%);
    background-image: -o-linear-gradient(top left, $start 0%, $end 100%);
    background-image: linear-gradient(to bottom right, $start 0%, $end 100%);
    color: $color;
}

.testimonial {
  font-family: 'Adobe Garamond Pro', Georgia, sans-serif;
  &:before {
    content: open-quote;
  }
  &:after {
      content: close-quote;
  }
}

body {
  font-family: "museo-sans",sans-serif;
  position: relative;
  color: #2C2F2F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //padding-top: 50px;
}

h1, h2, h3, h4 {
  font-family: "sofia-pro",sans-serif;
  font-weight: bold;
}

a {
  transition: all 0.35s ease;
}

.navbar {
  background: white;
  border: none;
}
.nav.navbar-nav {
  font-family: "sofia-pro",sans-serif;
  font-size: 16px;
  li {
    a {
      font-weight: bold;
    }
    &.active {
      a {
        color: $brand-primary;
        background: none;
        font-weight: bold;
        box-shadow: inset 0 -4px 0 $brand-primary;
      }

    }
  }
}

h1 {
  font-size: 80px;
  letter-spacing: -3px;
}
h2 {
  font-size: 64px;
}

@media (max-width: $screen-sm) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  p.lead {
    font-size: 18px!important;
    font-weight: 400!important;
  }
}


header.header {
  height: 100vh;
  span {
    color: $brand-primary;
  }
  background-color: #F1F7F8;
  // background-image: url(../images/ucr_pattern3.svg);
  // background-size: 5%;
  @media (max-width: $screen-sm) {
    p {
      margin: 0 2em;
    }
  }
  .inner-header {
    padding: 1em;
  }
}
.slide {
  padding: 4em;
  background: #e5e5e5;
  min-height: 100vh;
}

p.lead {
  font-size: 24px;
  letter-spacing: -0.4px;
  font-weight: 400;
}

.measure {
  max-width: 25em;
}



.grid-item {
  padding: 5em;
  //outline: 1px solid red;
  position: relative;
  &.grid-w-50 {
    width: 50%;

  }
  &.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2, h3 {
      text-align: left;
      display: block;
      width: 100%;
    }
  }
  &.grid-w-100 {
    width: 100%;
  }
  &.grid-w-6th {
    width: calc(100%/6);
  }
  &.grid-w-3th {
    width: calc(100%/3);
  }
  width: 25%;
  &.hover-me {
    transition: all 0.25s ease;
    &:hover {
      //background: white;
      z-index: 100;
      box-shadow: 0 0 48px rgba($brand-gray, .5);
      //color: $brand-primary;
    }
  }
  &.has-image {
    display: block;
    padding: 0;
    overflow: hidden;
    @include theme(lighten($brand-gray, 10%), lighten($brand-gray, 20%), white);
    img {
    }
  }
  &.has-video {
    display: block;
  }
  &.align-flex-left {
    align-items: flex-start;
    //align-content: flex-start;
    @media (max-width: $screen-sm) {
        align-items: center;
        align-content: center;
    }
  }
  &.what-we-do-item {

    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      width: 50%;
      &:nth-child(4) {
        position: relative;
        &:after {
          display: block;
          content: '';
          position: absolute;
          height: 50px;
          width: 50px;
          //background-color: red;
          bottom: -25px;
          right: -25px;
          background-image: url(../images/cross.svg);
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }
      }
    }
  }
  &.reveal-info {
    position: relative;
    &:hover {
      > .content-to-reveal {
        opacity: 1;
      }
    }
    > .content-to-reveal {
      transition: opacity 0.3s ease;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      background: $brand-gray;
      margin: 1em;
      display: flex;
      text-align: left;
      align-items: center;
      justify-content: center;
      padding: 3em;
      box-shadow: 0 0 48px rgba($brand-gray, 0.5);
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  @media (max-width: $screen-sm) {
    padding: 2em;
    width: 100%;
    &.grid-w-50 {
      width: 100%;
      display: block;
    }
    &.grid-w-100 {
      width: 100%;
    }
    &.grid-w-6th {
      width: 100%;
    }
    &.grid-w-3th {
      width: 100%;
    }
    &.has-video {
      padding: 1em;;
    }
    &.has-image {

      // padding: 1em;
    }
  }
  @media (min-width: $screen-sm + 1) and (max-width: $screen-md-max) {
    padding: 3em;
    width: 50%;
    &.grid-w-50 {
      width: 50%;
      display: block;
    }
    &.grid-w-100 {
      width: 100%;
    }
    &.grid-w-6th {
      width: 50%;
    }
    &.grid-w-3th {
      width: 100%;
    }
  }
}
.call-to-action {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 48px rgba($brand-primary, 0.5);
}
.client-logos {
  // padding: 5em;
  text-align: center;
  img {
    margin: 2em;
  }
}


.project-title {
  display: none;
}
.project-logo {
  height: 32px;
  width: auto;
  margin-bottom: 24px;
}

figure.figure {
  position: relative;
  transition: all 0.5s ease;
  img {
    transition: all 0.5s ease;
    filter: brightness(1);
  }
  &:hover {
    img {
      filter: brightness(.6);
    }
    figcaption {
      opacity: 1;
    }
  }
  figcaption {
    transition: all 0.5s ease;
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 24px;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

img {
  &.filter-grayscale {
    filter: grayscale(1);
  }
  &.filter-saturate {
    filter: saturate(.2);
  }
  &.img-shadow {
    box-shadow: 0 8px 16px rgba(black, 0.6);
  }
}

.blockquote {
  border: 0;
  padding: 0;
  &:before {
    content: open-quote;
  }
  &:after {
      content: close-quote;
  }
}

.founder {

  > img {
    max-width: 100px;
    height: auto;
  }
  margin-bottom: 24px;
}
.theme-blue-purple {
  @include theme($brand-primary, $brand-purple, white);
}
.theme-blue-darker {
  @include theme($brand-primary, darken($brand-primary, 10%), white);
}
.theme-purple-pink {
  @include theme($brand-purple, $brand-pink, white);
}
.theme-pink-yellow {
  @include theme($brand-pink, $brand-yellow, white);
}
.theme-light-dark {
  @include theme($brand-light, darken($brand-light, 5%), $brand-gray);
}
.theme-dark-darker{
  @include theme($brand-gray, darken($brand-gray, 10%), white);
}
.theme-less-dark{
  @include theme(lighten($brand-gray, 10%), lighten($brand-gray, 20%), white);
}


.footer {
  a {
    color: white;
    // font-size: 14px;
    // line-height: 1.2;
  }

}
